nav {
	background-color: whitesmoke;
	height: 3rem;
	vertical-align: middle;
}

a {
	text-align: right;
	color: black;
	font-size: 1rem;
	text-decoration: none;
	margin: 5px;
}

.home {
	text-align: left;
	font-weight: bold;
}

button.link-button {
	text-align: right;
	color: black;
	font-size: 1rem;
	text-decoration: none;
	margin: 5px;
	background: none !important;
	border: none;
	padding: 0 !important;

	cursor: pointer;
}
