.router-link {
	color: black;
	text-decoration: none;
	background: initial;
	font-size: initial;
}

.CompanyList {
	display: inline-block;
}

/* .Card {
	border: solid black 2px;
	text-decoration: none;
} */
